/* YOUR CSS STYLES */
body {
    margin: 0;
    font-size: 16px;
    line-height: 1.5em;
    font-family: 'Lora', Georgia, serif;
}
.container-fluid {
    padding: 0;
}
.section {
    padding: 10% 25%;
}
h2 {
    font-size: 24px;
    margin: 1em auto 1em;
}

#headline{
    font-size:6em;
    font-weight: 700;
    color: white;
}

#subheadline{
    font-size:3em;
    font-style: italic;
    color: white;
}

.section-title{
    margin-top: 15vh;
    font-size:2.5em;
    font-weight: 700;
}

/*********************/
/*  TOOLTIP OVERLAY  */
/*********************/

/*.tooltip-title {*/
/*display: block;*/
/*font-weight: 600;*/
/*font-size: 5px;*/
/*}*/

.d3-tip {
    line-height: 1.3;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

hr {
    /*margin: 4em auto 4em;*/
}

.section {
}


/* Fade in on scroll */
#intro p {
    font-size: 20px;
    line-height: 1.5em;
  /*   font-family: 'Roboto',sans-serif; */
    font-weight: 300;
}
#intro div {
    height:100vh;
    background-color: #f4f4f4;
    margin: 0;
    /*text-align: center;*/
}
.title {
    /*background-image: url('../img/districtmap.jpg');*/
    background-image: url('../img/Salamander2.png');
    background-size: cover;
    padding: 25% 10%;
}
.hideme {
    opacity:0;
}

.tooltip-label, text, label {
    font-family: 'Lora', Georgia, serif;
    font-size: 11px;
    font-weight: 100;
    margin-bottom: 2px;
}

.tooltip-title {
    font-weight: 600;
}

.legend {
    font-family: 'Lora', Georgia, serif;
}

.race-title {
    font-size: 16px;
    font-family: 'Lora', Georgia, serif;
}

.income-title {
    font-size: 16px;
    font-family: 'Lora', Georgia, serif;
}

.emp-title {
    font-size: 16px;
    font-family: 'Lora', Georgia, serif;
}

.income-line {
    fill: none;
    stroke: orange;
    stroke-width: 1.5px;
}

/* ============ TIMELINE SECTION =================*/

#tl-info {
    background-color: #efefef;
    padding: 15px 30px;
    border-radius: 10px;
    padding-bottom: 30px;
    height: 65vh;
}

#tl-title {
    font-weight: 500;
    font-size: 1.5em;
    padding: 20px 0px;
    line-height: normal;
}

#tl-text {
    margin-bottom: 20px;
    /*height: 400px;*/
    overflow-y: scroll;
    font-size: 0.8em;
    line-height: 1.5em;
}

#tl-src {
    color: gray;
    width: 80%;
    margin-top: 50px;
    word-wrap: break-word;
    font-size: 0.6em;
    line-height: 1em;
    background-color: #efefef;
}

.tl-row-label{
    position: relative;
    display: inline-block;
    top: 35px;
    left: -160px;
    /* text-anchor: end; */
    text-align: end;
    width: 200px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 1.5px;
    border: none;
    background-color: transparent;
}

button:focus {outline:0;}

#tl-content {
    height: 50vh;
    overflow-y: scroll;
}

.node circle {
    cursor: move;
    shape-rendering: crispEdges;
    fill: gray !important;
    fill-opacity: 0.8;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

circle:hover{
    stroke-width:4px;
    stroke: white;
    fill: orange;
    fill-opacity: 1;
    r: 8;
}

.node text {
    pointer-events: none;
    text-shadow: 2px 2px 2px #fff;
}

.link {
    fill: none;
    stroke: 1px;
    stroke: #000;
    stroke-opacity: .1;
    position: relative;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;

}

.link:hover {
    stroke-opacity: .5;
}

.activeLink {
    fill: none;
    stroke: 1px;
    stroke: #F4B006;
    stroke-opacity: 0.3;
}

circle.activeNode {
    stroke-width:4px;
    stroke: #F4B006;
    fill: #F4B006 !important;
    fill-opacity: 0.7;
    r: 8;
}

#tl-svg-case, #tl-svg-event, #tl-svg-policy, #tl-svg-axis {
    height: 50px;
}

#tl-svg-case {
    margin-bottom: 25px;
}

.caret.caret-reversed {
    border-top-width: 0;
    border-bottom: 4px solid #000000;
}

button:hover, .event-rec:hover {
    opacity: 0.5;
}

/*.expansion-event-rect{*/
    /*pointer-events:all;*/
    /*cursor: pointer;*/
/*}*/

.expansion-event-img{
    pointer-events:all;
    /*z-index:100;*/
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

image.expansion-event-img:hover{
    opacity:1;
    z-index:100;
}

rect.event-rect:hover {
    pointer-events:all;
    cursor: pointer;
    opacity: 1;
}