/* SECTION STYLING */
body {
    margin: 0;
    background-color: #f4f4f4;
}
.container {
    width: 95vw !important;
}
.container-fluid {
    padding: 0;
}
#cbp-so-scroller section {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.section {
    padding: 4em 2em;
    min-height: 90vh;
}
.title div {
    min-height: 100vh;
}
.gapData {
    margin-top: -48px;
}
#references {
  background-color: #dedede;
}


/* TEXT STYLES */
body {
    font-size: 16px;
    line-height: 1.5em;
    font-family: 'Lora', Georgia, serif;
    /* font-family: 'Roboto', Arial, sans-serif; */
    color: #333;
}
h1, h2, h3, h4 {
    font-weight: 700;
    color: #333;
}
h1 {
    font-size: 32px;    
    line-height: 48px;
    font-weight: 100;
    margin-top: 24px;
}
h2 {
    font-size: 2em;
    margin: 2em auto 1em;
    line-height: 1em;
    font-weight: 500;
    font-family: 'Roboto', Arial, sans-serif;
}
h3 {
    line-height: 1.4em;
    margin: 1em auto;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 100;
}
h4 {
    line-height: 1.3em;
}
h5 {
    font-style: italic;
}
p {
    color: #333;
}
blockquote {
    font-size: 16px;
    font-style: italic;
    border: 0;
}
#headline{
    font-size:3.75em;
    font-weight: 700;
    color: #fff;
    margin: 2em auto 1em;
    text-align: center;
}
#subheadline{
    font-size:2.5em;
    font-weight: 400;
    font-style: italic;
    color: #fff;
    text-align: center;
}
p, li {
    font-size: 18px;
    line-height: 1.7em;
    font-weight: 300;
}
a:link, a:visited {
    color: #0058FF;
}
a:active, a:focus {
    color: #FFA502;
}
code {
    color: #0058FF;
    background-color: #FFFBDA;
}
.highlight {
    background-color: #FFFBDA;
}
label, .sidebar {
    font-size: 14px;
    font-family: 'Roboto', Arial, sans-serif;
}
text {
    fill: #333;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 10px;
    font-weight: 100;
    margin-bottom: 2px;
}
code {
    margin: 16px auto;
    display: inline-block;
}
small {
    line-height: 12px;
}
.smallest {
    font-size: 0.7em;
    line-height: 1.2em;
    top: -20px;
}
.legend, .race-title, .income-title, .emp-title {
    font-weight: 300;
    font-size: 0.8em;
}

.windy-names {
    font-weight: 250;
    font-size: 0.6em;
}

.ntl-title {
    font-weight: 600;
    font-size: .8em;
}

.blue {
    color: #0058FF;
    fill: #0058FF;
}
.red {
    color: #CD2E2E;
}
.btn-group label {
    border: 1px solid #f4f4f4;
}
.btn-group .active {
    color: #fff;
    background-color: #0058FF;
    border-color: #0058FF;
}


p, li {
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 300;
}
.title {
    background-image: url('../img/title.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.hideme {
    opacity:0;
}
.btn-group {
    margin: 8px auto 16px;
}

/*.gap-explain{*/
    /*background-color:#cccccc;*/
    /*text-align:left;*/
    /*vertical-align: middle;*/
    /*padding:20px;*/
    /*border-radius: 15px;*/
/*}*/

.NCregion {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: dash 5s linear alternate infinite;
}

@keyframes dash {
    from {
        stroke-dashoffset: 300;
    }
    to {
        stroke-dashoffset: 0;
    }
}

/*********************/
/*  TOOLTIP OVERLAY  */
/*********************/

/*.tooltip-title {*/
/*display: block;*/
/*font-weight: 600;*/
/*font-size: 5px;*/
/*}*/

.d3-tip {
    line-height: 1.3;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

.tooltip-label {
    font-family: 'Roboto Mono', Arial, sans-serif;
    font-size: 11px;
    font-weight: 100;
    margin-bottom: 2px;
}

.tooltip-title {
    font-weight: 600;
}
.income-line {
    fill: none;
    stroke: #FFA502;
    stroke-width: 1.5px;
}


/* ============ TIMELINE SECTION =================*/

#expansion-height-box {
}


#tl-info {
    /* background-color: #efefef; */
    padding-right: 30px;
    border-radius: 10px;
    padding-bottom: 30px;
    height: 65vh;
}

#tl-title {
    font-weight: 500;
    font-size: 1.5em;
    padding: 20px 0px;
    line-height: normal;
    color: #333;
}

#tl-text {
    margin-bottom: 20px;
    /*height: 400px;*/
    color: #333;
    overflow-y: scroll;
    font-size: 0.8em;
    line-height: 1.5em;
}

#tl-src {
    color: #333;
    padding: 24px 0;
    word-wrap: break-word;
    font-size: 0.6em;
    line-height: 1.5em;
}

.tl-row-label{
    position: relative;
    display: inline-block;
    font-family: "Roboto Mono";
    top: 35px;
    left: -80px;
    /* text-anchor: end; */
    text-align: end;
    width: 200px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.6em;
    letter-spacing: 1.5px;
    border: none;
    background-color: transparent;
}

button:focus {outline:0;}

#tl-content {
    height: 100%;
    overflow-y: scroll;
}

.node circle {
    cursor: move;
    shape-rendering: crispEdges;
    fill: gray !important;
    fill-opacity: 0.8;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.node circle:hover{
    fill: #FFA502;
    fill-opacity: 1;
}

#gill {
    /*fill: red !important;*/
    animation: blinker 3s linear infinite;
}
@keyframes blinker {
    50% { fill: red; }
}


.node text {
    pointer-events: none;
    text-shadow: 2px 2px 2px #fff;
}

.link {
    fill: none;
    stroke: 1px;
    stroke: #333;
    stroke-opacity: .1;
    position: relative;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.link:hover {
    stroke-opacity: .5;
}

#gill-link {
    animation: blinker-link 3s linear infinite;
}
@keyframes blinker-link {
    50% { stroke: red; stroke-opacity: 1;}
}

.activeLink {
    fill: none;
    stroke: 1px;
    stroke: #FFA502;
    stroke-opacity: 0.3;
}

.node circle.activeNode {
/*     stroke-width:4px;
    stroke: #FFA502; */
    fill: #FFA502 !important;
    fill-opacity: 0.7;
}

#tl-svg-case, #tl-svg-event, #tl-svg-policy, #tl-svg-axis {
    height: 50px;
}

#tl-svg-case {
    margin-bottom: 25px;
}

.caret.caret-reversed {
    border-top-width: 0;
    border-bottom: 4px solid #333000;
}

button:hover, .event-rec:hover {
    opacity: 0.5;
}

/*.expansion-event-rect{*/
    /*pointer-events:all;*/
    /*cursor: pointer;*/
/*}*/

.expansion-event-img{
    pointer-events:all;
    /*z-index:100;*/
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

image.expansion-event-img:hover{
    opacity:1;
    z-index:100;
}

rect.event-rect:hover {
    pointer-events:all;
    cursor: pointer;
    opacity: 1;
}



/** CBP SCROLLER: https://tympanus.net/codrops/2013/07/18/on-scroll-effect-layout/ ***/
.cbp-so-scroller {
    margin-top: 3em;
    overflow: hidden;
}

.cbp-so-section {
    background-color: #fff;
    margin-bottom: 8em;
}

/* Clear floats of children */
.cbp-so-section:before,
.cbp-so-section:after {
    content: " ";
    display: table;
}

.cbp-so-section:after {
    clear: both;
}

/* Sides */
.cbp-so-side {
    /* width: 50%; */
    float: left;
    margin: 0;
    /* padding: 3em 4%; */
    overflow: hidden;
    min-height: 12em;
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    -moz-transition: -moz-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

/* Clear floats of children */
.cbp-so-side:before,
.cbp-so-side:after {
    content: " ";
    display: table;
}

.cbp-so-side:after {
    clear: both;
}

.cbp-so-side-right img {
    float: left;
}

.cbp-so-side-left img {
    float: right;
}

/* Initial state (hidden or anything else) */
.cbp-so-init .cbp-so-side {
    opacity: 0;
}

.cbp-so-init .cbp-so-side-left {
    -webkit-transform: translateX(-80px);
    -moz-transform: translateX(-80px);
    transform: translateX(-80px);
}

.cbp-so-init .cbp-so-side-right {
    -webkit-transform: translateX(80px);
    -moz-transform: translateX(80px);
    transform: translateX(80px);
}

.cbp-so-init .cbp-so-side-center {
    -webkit-transform: translateY(80px);
    -moz-transform: translateY(80px);
    transform: translateY(80px);
}


/* Animated state */
/* add your final states (transition) or your effects (animations) for each side */
.cbp-so-section.cbp-so-animate .cbp-so-side-left,
.cbp-so-section.cbp-so-animate .cbp-so-side-right,
.cbp-so-section.cbp-so-animate .cbp-so-side-center {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
}

/* For example, add a delay for the right side:
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
*/

/* Example media queries */

@media screen and (max-width: 73.5em) {
    .cbp-so-side img {
        max-width: 120%;
    }
}

@media screen and (max-width: 41.125em) {
    .cbp-so-side {
        float: none;
        width: 100%;
    }

    .cbp-so-side img {
        max-width: 100%;
    }
}



/*** Reading Indicator: https://codepen.io/blucube/pen/bdGgzg ***/
.progressbar {
  display: none;
  margin: 0;
}
@media only screen and (min-width: 650px) {
  .progressbar {
    display: block;
  }
}
.progressbar .shim {
  display: none;
  width: 100%;
}
.progressbar .holder {
  position: relative;
  font-size: 85%;
  padding: 1.8em 0 0 0;
  background-color: #f4f4f4;
  box-shadow: 0 0.5em 1.5em #f4f4f4;
}
@media only screen and (min-width: 750px) {
  .progressbar .holder {
    font-size: 90%;
  }
}
@media only screen and (min-width: 900px) {
  .progressbar .holder {
    font-size: 95%;
  }
}
.progressbar .holder .bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #D1E1FF;
}
.progressbar .holder .bar .indicator {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #005AFF;
}
.progressbar .holder .labels {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2em;
  text-align: center;
}
.progressbar .holder .labels i {
  display: block;
  position: relative;
  float: left;
  cursor: pointer;
}
.progressbar .holder .labels i::before {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  content: '';
  width: .9em;
  height: .9em;
  border-radius: 50%;
  border: solid 3px #D1E1FF;
  background-color: #f4f4f4;
  -webkit-transform: translateX(-50%) translateY(50%);
          transform: translateX(-50%) translateY(50%);
  -webkit-transition: border-color 100ms ease-in, background-color 150ms ease-in;
  transition: border-color 100ms ease-in, background-color 150ms ease-in;
}
.progressbar .holder .labels i::after {
  display: block;
  content: attr(data-label);
  position: relative;
  top: 0;
  padding-bottom: 1.8em;
  font-family: 'Open Sans';
  font-weight: 400;
  color: #005AFF;
  -webkit-transition: color 150ms ease-in, top 100ms ease-out;
  transition: color 150ms ease-in, top 100ms ease-out;
}
.progressbar .holder .labels i:hover::before, .progressbar .holder .labels i:focus::before {
  background-color: #D1E1FF;
}
.progressbar .holder .labels i:hover::after, .progressbar .holder .labels i:focus::after {
  top: -.2em;
}
.progressbar .holder .labels i.read::before {
  border-color: #005AFF;
}
.progressbar .holder .labels i.read:hover::before, .progressbar .holder .labels i.read:focus::before {
  background-color: #005AFF;
}
.progressbar .holder .labels i.reading::after {
  color: #005AFF;
}
.progressbar .holder .labels i.reading:hover::after, .progressbar .holder .labels i.reading:focus::after {
  top: 0;
}
.progressbar.fixed .holder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.progressbar.fixed .shim {
  display: block;
}