/* YOUR CSS STYLES */
body {
    margin: 0;
    font-size: 16px;
    line-height: 1.5em;
    font-family: 'Lora', Georgia, serif;
}
.container-fluid {
    padding: 0;
}
.section {
    padding: 10% 25%;
}
h2 {
    font-size: 24px;
    margin: 1em auto 1em;
}

/*********************/
/*  TOOLTIP OVERLAY  */
/*********************/

/*.tooltip-title {*/
/*display: block;*/
/*font-weight: 600;*/
/*font-size: 5px;*/
/*}*/

.d3-tip {
    line-height: 1.3;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

hr {
    margin: 4em auto 4em;
}
.section {
}


/* Fade in on scroll */
#intro p {
    font-size: 20px;
    line-height: 1.5em;
  /*   font-family: 'Roboto',sans-serif; */
    font-weight: 300;
}
#intro div {
    height:100vh;
    background-color: #ccc;
    margin: 0;
    text-align: center;
}
.title {
    background-image: url('../img/districtmap.jpg');
    background-size: cover;
    padding: 25% 10%;
}
.hideme {
    opacity:0;
}

.tooltip-label, text, label {
    font-family: 'Lora', Georgia, serif;
    font-size: 11px;
    font-weight: 100;
    margin-bottom: 2px;
}

.tooltip-title {
    font-weight: 600;
}

.legend {
    font-family: 'Lora', Georgia, serif;
}

.race-title {
    font-size: 16px;
    font-family: 'Lora', Georgia, serif;
}

.income-title {
    font-size: 16px;
    font-family: 'Lora', Georgia, serif;
}

.emp-title {
    font-size: 16px;
    font-family: 'Lora', Georgia, serif;
}

.income-line {
    fill: none;
    stroke: orange;
    stroke-width: 1.5px;
}

/* ============ TIMELINE SECTION =================*/

#tl-info {
    background-color: #d9d9d9;
    height: 600px;
    padding: 15px 30px;
    border-radius: 10px;
    padding-bottom: 30px;
}

#tl-title {
    font-weight: 500;
    font-size: 1.5em;
    padding: 20px 0px;
    line-height: normal;
}

#tl-text {
    margin-bottom: 20px;
    height: 400px;
    overflow-y: scroll;
}

#tl-src {
    color: gray;
}